# UIE
/data
/pretrain_data
/output
/hf_models
/pd_models
/runs
/models
*.lock

# mac
.DS_Store

# env
/.vscode
/.idea
**/__pycache__
**/.ipynb_checkpoints
*.pyc
**/savemodel
*.ipynb
*.xlsx
*.zip
*.json
*.jsonl
**/MTL-ZhengAyong
**/Biaffine-ZhengAyong
.pytest_cache
*.bin
*.csv